# Build files
msg_gen/
srv_gen/
**/src/*/msg/
**/src/*/srv/
**/src/*msgs
**/**/src/*/msg/
**/**/src/*/srv/
**/**/src/*msgs
build/
doc/
bin/
lib/
cmake_install.cmake
_gtest_from_src/
#QT
CMakeLists.txt.user
qtcreator-build/


# Dynamic reconfigure
docs/
*.cfgc
**/cfg/cpp/
**/src/*/cfg/

# Eclipse project
.project
.cproject
.pydevproject
.settings

# Python
*.pyc
*.pkl


# Temporary files
*.swp
*~

# Mac os
.DS_Store

# LTL
ltlgen.smv
ltlgen.ltl
ltlgen.aut
ltlgen.debug

#.NET stuff
obj/
.suo
.dll
_ReSharper*/
participant_ui/ParticipantUI.opensdf
participant_ui/ParticipantUI.sdf
participant_ui/ParticipantUI.suo
participant_ui/ChatBox/ChatBox.suo
*.svn*
