<?xml version="1.0"?>
<launch>

  <!-- launch rviz with config/rviz_camera_stream.rviz -->

  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
      args="0 0 -0.5 0 0 0 1 map camera 10" />

  <node pkg="vimjay" type="image.py" name="image_pub" 
      args="$(find vimjay)/data/gradient_radial.png"
      if="true" >
    <param name="frame_id" value="camera" />
  </node>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"
      output="screen" 
      if="false" >
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="framerate" value="5" />
    <param name="video_device" value="/dev/video0" />
  </node>

</launch>
